body {
    padding: 3%;
    overflow-x: hidden;
    background: url(knit.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dropbtn {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    font-family: Trebuchet MS, sans-serif;
    font-size: 25vw;
    color: #3C3D37;
    text-decoration: none;
    width: 50vw;
    border: solid #3C3D37 5px;
    text-align: left;
    background-color: #FCFAEE;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.child-left {
    width: fit-content;
    justify-content: flex-start;
    justify-content: space-between;
}  

.child-right {
    transition: transform .5s ease-in-out;
    width: fit-content;
    justify-content: flex-start;
    justify-content: space-between;
    font-size: 25%;
    margin-right: 5%;
}  

.dropdown:hover .child-right {
  transform: rotate(-90deg);
  cursor: s-resize;
}

.dropdown {
    position: relative;
    display: block;
    width: 50vw;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-content {
    display: none;
}

.info {
    justify-content: flex-start;
    justify-content: space-between;
    text-align: left;
    padding-left: 5px;
    background-color: #FCFAEE;
    color: #3C3D37;
    border: solid #3C3D37 5px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 5vw;
}

.info:hover a {
    color: #FCFAEE;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.info-bottom {
    justify-content: flex-start;
    justify-content: space-between;
    text-align: left;
    padding-left: 5px;
    background-color: #FCFAEE;
    color: #3C3D37;
    border: solid #3C3D37 5px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 5vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.info-bottom:hover a {
    color: #FCFAEE;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content a {
    display: block;
    color: #3C3D37;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #FCFAEE;
    background-color: transparent;
    cursor: pointer;
}

.dropdown :hover {
    border-color: #FCFAEE;
    background-color: #A02334;
    color: #FCFAEE;
    cursor: pointer;
    transition: all .3s ease;
    cursor: s-resize;
}

.dropbtn :hover {
    background-color: transparent;
    color: #FCFAEE;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#image-container {
    position: relative;
    width: 33vw;
    height: 50vw;
    overflow: hidden;
    border-radius: 25px;
    background-color: #A02334;
}

#image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
}

#image-container .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    animation: slide-show 9s infinite;
}

#image-container .slide:nth-child(1) { 
    animation-delay: 0s; 
}

#image-container .slide:nth-child(2) { 
    animation-delay: 3s; 
}

#image-container .slide:nth-child(3) { 
    animation-delay: 6s; 
}

@keyframes slide-show {
    0% { opacity: 0; visibility: hidden; z-index: 0; }
    10% { opacity: 1; visibility: visible; z-index: 1; }
    33% { opacity: 1; visibility: visible; z-index: 1; }
    43% { opacity: 0; visibility: hidden; z-index: 0; }
    100% { opacity: 0; visibility: hidden; z-index: 0; }
}

.caption {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    font-size: 200%; 
    margin: 0.5em;
    padding: 3px;
    border-radius: 5px;
    color: #3C3D37;
    background-color: #FCFAEE;
    border: solid #3C3D37 1px;
    font-family: Trebuchet MS, sans-serif;
    text-decoration: none;
    z-index: 2;
}

.caption:hover {
    color: #FCFAEE;
    background-color: #A02334;
    cursor: pointer;
    border-color: #FCFAEE;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slide-show 9s infinite;
    z-index: 1;
}
